    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <br />
          <p>تعلم <span>عنا</span></p>
        </div>

        <div class="row gy-4">
            <div class="col-lg-7 position-relative about-img" style="background-image: url(/assets/img/about.jpg) ;" data-aos="fade-up" data-aos-delay="150">
            <div class="call-us position-absolute">
              <h4>اطلب</h4>
              <p>+972 595385030</p>
            </div>
          </div>
          <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                        يتميز التطبيق بواجهة مستخدم بسيطة وسهلة الاستخدام، مما يتيح للمستخدمين البحث عن المطاعم، استعراض قوائم الطعام، واختيار الوجبات بسهولة.
              </p>
              <ul>
                  <li><i class="bi bi-check2-all"></i> يمكن للمستخدمين تصفح قائمة الطعام الكاملة للمطاعم المتاحة، مع معلومات مفصلة عن الأصناف والأسعار.</li>
                  <li><i class="bi bi-check2-all"></i> شكوك أو ألم مزعج في التوبيخ في المتعة التي يريدها.</li>
                  <li><i class="bi bi-check2-all"></i> يقدم الموقع مجموعة من خيارات الدفع المختلفة، بما في ذلك الدفع النقدي عند التوصيل أو الدفع عبر الإنترنت باستخدام البطاقات الائتمانية.</li>
              </ul>
              <p>
                        يقدم موقع يمّي عروضًا وتخفيضات من فترة لأخرى، مما يسمح للمستخدمين بالاستفادة من أسعار مخفضة على الوجبات.
              </p>

              <div class="position-relative mt-4">
                <img src="~/assets/img/about-2.jpg" class="img-fluid" alt="">
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>